services:
  user-service:
    build:
      context: .
      dockerfile: packages/user-service/Dockerfile
      target: dev
    image: user-service:dev
    container_name: user-service-dev
    ports:
      - "4001:4001"
    environment:
      DATABASE_URL: "postgresql://postgres:root@host.docker.internal:5432/microdb?schema=public"
      HOST: 0.0.0.0
