services:
  user-service:
    build:
      context: .
      dockerfile: packages/service-user/Dockerfile
      target: dev # ⚠️ "targets" should be "target"
    image: user-service:dev
    container_name: user-service-dev # ⚠️ fix spelling: "constainer_name" → "container_name"
    ports:
      - "4001:4001"
    environment:
      DATABASE_URL: "postgresql://postgres:root@host.docker.internal:5432/microdb?schema=public"
      HOST: 0.0.0.0
