name: Hello Chethan Check

# Run on push to dev branch
on:
    push:
        branches:
            - dev

jobs:
    say-hello:
        runs-on: ubuntu-latest

        steps:
            - name: Print Hello
              run: echo "Hello Chethan how are you?"
