name: "DEPLOYMENT WORKFLOW - SHARED COMPONENTS"

on:
  push:
    branches:
      - main
    paths:
      - "shared/**"

jobs:
  deploy:
    name: "Deploy Shared Components"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v3

      - name: "Copy shared folder to EC2"
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "shared/*"
          target: "/opt/shared/"
