name: Microservices CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "user-service/**"
      - "tenant-service/**"
      - "fleet-service/**"
      - "booking-service/**"

  pull_request:
    branches:
      - main
    paths:
      - "user-service/**"
      - "tenant-service/**"
      - "fleet-service/**"
      - "booking-service/**"

jobs:
  detect-services:
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.set-output.outputs.services }}

    steps:
      - uses: actions/checkout@v4

      - name: Detect Changed Services
        id: detect
        run: |
          SERVICES=("user-service" "tenant-service" "fleet-service" "booking-service")
          CHANGED=()

          echo "Changed files:"
          git diff --name-only HEAD~1 HEAD

          for SERVICE in "${SERVICES[@]}"; do
            if git diff --name-only HEAD~1 HEAD | grep "^$SERVICE/" > /dev/null; then
              CHANGED+=("\"$SERVICE\"")
            fi
          done

          echo "services=[$(IFS=,; echo "${CHANGED[*]}")]" >> detect.json

      - name: Set Output
        id: set-output
        run: |
          echo "services=$(cat detect.json)" >> $GITHUB_OUTPUT

  # build-services:
  #   needs: detect-services
  #   if: ${{ needs.detect-services.outputs.services != '[]' }}
  #   runs-on: ubuntu-latest

  #   strategy:
  #     matrix:
  #       service: ${{ fromJson(needs.detect-services.outputs.services) }}
  #     fail-fast: false

  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Setup Docker Buildx
  #       uses: docker/setup-buildx-action@v3

  #     - name: Login to DockerHub
  #       uses: docker/login-action@v3
  #       with:
  #         username: ${{ secrets.DOCKER_HUB_USERNAME }}
  #         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  #     - name: Build & Push Docker Image
  #       uses: docker/build-push-action@v5
  #       with:
  #         context: ./${{ matrix.service }}
  #         file: ./${{ matrix.service }}/Dockerfile
  #         push: true
  #         tags: |
  #           ${{ secrets.DOCKER_HUB_USERNAME }}/${{ matrix.service }}:latest
  #           ${{ secrets.DOCKER_HUB_USERNAME }}/${{ matrix.service }}:${{ github.sha }}
